/*sets style for nav bar buttons*/

body {
    background-color: #e8e8e8;
}
h1 {
   font-family: SourceProReg;
}
.container_12 {
    background-color: #909090;
}
@font-face {
    font-family: SourceProReg;
    src: url('SourceSansPro-Regular.otf');
}
@font-face {
    font-family: SourceProReg;
    font-weight: bold;
    src: url('SourceSansPro-Bold.otf');
}

@font-face {
    font-family: Bebas Neue;
    src: url('BebasNeue.otf');
}
@font-face {
    font-family: Bebas Neue;
    font-weight: bold;
    src: url('BebasNeue.otf');
}

/*---- STYLE FOR MAIN ARTICLE ON HOME PAGE -----*/

tint-black-img {
    linear-gradient( top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 75))
}
#navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 0px 11px 0px;
    /*-5px on bottom padding because of border*/
    text-decoration: none;
}
.active {
    border-bottom: 5px solid #36D1ff;
}

/*----HEADER----*/
#header {
    height: 236px;
    background-color: #1e1e1e;
    display: block;
}
#navbar {
    font-family: Bebas Neue, sans-serif;
    font-size: 24px;
}
#navbar ul {
    background-color: #333333;
    overflow: hidden;
    list-style-type: none;
    width: auto;
}
#navbar li {
    float: left;
}
#logo {
    padding-left: 50px;
    padding-top: 50px;
}
#mag-cover {
    width: inherit;;
    height: auto;
}
.mag-cover-container {
   width: 120px;
   height: auto;
   float: right;
   margin-right: 60px;
   padding-top: 30px
}

.search-form {
    float: right;
    width: 120px;
    padding-top: 16px;
    padding-right: px;
}
#navbar li a:hover {
    color: #36D1ff;
}
/*Style for horizontal lines*/

hr {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 0em;
}


/*feature article properties*/

#feature-article {
    margin-top: 20px;
}
#feature-article section {
    background-color: #1F2020;
}
#feature-article img {
    width: 940px;
}

/*news container properties*/

#news {
    background-color: #3f3f3f;
    float: left;
    margin-top: 20px;
    border-top: 5px solid #620800;
}
#news h2 {
    color: white;
    font-family: SourceProReg;
    font-weight: bold;
    font-size: 32px;
    padding-left: 20px;
}
.news-card-main {
    width: 400px;
    float: right;
    margin-right: 40px;
    margin-bottom: 10px;
    text-align: justify;
    font-family: SourceProReg;
}
.news-card-main p {
    color: white;
    font-size: 16
}
.news-card-main h3 {
    color: white;
    margin-bottom: 5px;
}

.grid_4 {
    float: right;
}
#p4p-ratings {
   border-top: 5px solid #CDB521;
    background-color: #3f3f3f;
    margin-top: 20px;
    height: auto;
}
#p4p-ratings h2 {
   color: white;
   font-family: SourceProReg;
   font-weight: bold;
   font-size: 32px;
   padding-left: 20px;
}
#p4p-ratings section {
    height: 110px;
}
#p4p-ratings ul {
    padding-left: 0px;
    list-style: none;
    display: inline-block;
}
#p4p-ratings li {
    margin: 0px;
    margin-left: 10px;
}
#p4p-ratings h4 {
    margin: 0;
    margin-left: 10px;
    color: #CDB521;
}
#p4p-ratings img {
    display: inline-block;
    float: left;
    padding-left: 20px;
}
#videos {
   height: auto;
   border-top: 5px solid #620800;
   float: left;
   background-color: #1a1a1a;
   margin-top: 20px;
}
#videos .v-article {
    background-color: #333333;
    height: 160px;
}
#videos .v-article-dark {
    background-color: #1a1a1a;
    height: 160px;
}
#videos h2 {
   color: white;
   font-family: SourceProReg;
   font-weight: bold;
   font-size: 32px;
   padding-left: 20px;
}
#videos .img-container {
    width: 220px;
    padding-left: 40px;
    padding-top: 5px;
}
#videos img {
   width: inherit;
}
#schedule {
    height: 530px;
    border-top: 5px solid #620800;
    background-color: #1a1a1a;
    margin-top: 20px;
}
#schedule h2 {
   color: white;
   font-family: SourceProReg;
   font-weight: bold;
   font-size: 32px;
   padding-left: 20px;
}
#schedule h3 {
   color:  #CDB521;
   font-family: SourceProReg;
   font-weight: bold;
   font-size: 32px;
   padding-left: 20px;
   margin-bottom: 0px;
}
#schedule p {
   padding-left: 20px;
   padding-right: 20px;
   color: white;
   font-family: SourceProReg;
   font-size: 18px;
}
#schedule .sched-card {
   background-color: #333333;
   height: 160px;
}
#schedule .sched-card-dark {
   height: 160px;
   background: #1a1a1a;
}
/* Boxing News Page */

#feature-article-bar {
    height: 316px;
    background-color: #333333;
}
.news-page-feat {
   background-image: url("images/golokeenfeat.jpg");
   background-position: left;
   width: 300px;
   height: 300px;
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 8px;
   display: inline-block;
}
.news-page-feat2 {
   background-image: url("images/funkyfaces.jpg");
   background-position: left;
   width: 300px;
   height: 300px;
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 8px;
   display: inline-block;
}
.news-page-feat3 {
   background-image: url("images/ward-feat.jpg");
   background-position: left;
   width: 300px;
   height: 300px;
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 8px;
   display: inline-block;
}

#article-feed {
    height: auto;
    margin-top: 20px;
}
.news-article {
   border-top: 5px solid #333333;
    width: inherit;
    height: 200px;
    margin-top: 20px;
    float: right;
}
.news-article-img {
   width: 300px;
   height: auto;
   float: left;
   padding-top: 10px;
   margin-right: 10px;
}
.news-article img {
   width: 300px;
}
.news-article p h1 h2 h3 {
   color: black;
   font-family: SourceProReg;
}
.news-article p {
   font-size: 16px;
}



/* Schedule styles */

#event-main {
   max-width: inherit;
    margin-top: 20px;
}
#event-main img {
   width: 940px;
   height: auto;
}
#event-title {
    height: 600px;
    background-color: inherit;
}
#event-subtitle {
    height: 180px;
}
#event-list {
    margin-top: 20px;
}
.event-secondary {
   position: relative;
    height: 180px;
    margin-bottom: 10px;
}

/* subscribe styles */
.subscribe-option {
   position: relative;
   height: 80px;
   margin-top: 40px;
   margin-left: 40px;
}
.option-box {
   width: 160px;
   height: 40px;
   position: absolute;
   border: 1px solid black;
}
.other-options {
   height: 50px;
   margin-top: 10px;
   float: left;
   position: relative;
}

/*Ratings STYLES */


/*Haye Article style */

#haye-img-container {
   max-width: inherit;
   height: auto;
   float: left;
   padding-bottom: 10px;
}
.body-copy img {
   width: 620px;
   float: left;
}
.body-copy {
   font-family: SourceProReg;
   width: inherit;
}
.body-copy p {
   font-size: 18px;
}
/* footer styles */

.footer {
    background-color: #333333;
    margin-top: 60px;
    width: 940px;
    height: 60px;
}
.icon-container {
   float: right;
   max-width: 50px;
   margin-right: 5px;
   padding-top: 5px;
}

.footer img {
   width: 50px;
   height: 50px;
}
.footer p {
   float: right;
   padding-top: 10px;
   padding-right: 10px
   font-family: SourceProReg;
   font-size: 22px;
   color: #29abe2;
}
